<div class="Container-sc-itwfbd-0 hfMLFx snipcss-Apoq8 mt-4">
    <div class="Account__StyledAccountLayout-sc-1d5h8iz-0 dLDnti">
        <app-sidebar-account></app-sidebar-account>
        <div class="Account__StyledAccountLayoutInner-sc-1d5h8iz-1 jXurFV snipcss-cGxqk">
            <div class="styles__StyledAccountAddressCreate-sc-1nvdelo-0 fJeMaX">
              <div class="heading">
                Tạo sổ địa chỉ
              </div>
              <div class="inner">
                <form>
                  <div class="form-control ">
                    <label for="fullName" class="input-label">
                      Họ và tên:
                    </label>
                    <div>
                      <input type="text" required="" name="fullName" placeholder="Nhập họ và tên" maxlength="50" class="Input-sc-17i9bto-0 girQwT" value="Nguyễn Huy Hoàng">
                    </div>
                  </div>
                  <div class="form-control">
                    <label for="company" class="input-label">
                      Công ty:
                    </label>
                    <input type="text" name="company" placeholder="Nhập công ty" class="Input-sc-17i9bto-0 girQwT" value="">
                  </div>
                  <div class="form-control ">
                    <label for="telephone" class="input-label">
                      Số điện thoại:
                    </label>
                    <div>
                      <input type="text" required="" name="telephone" placeholder="Nhập số điện thoại" class="Input-sc-17i9bto-0 girQwT" value="">
                    </div>
                  </div>
                  <div class="form-control">
                    <label for="region" class="input-label">
                      Tỉnh/Thành phố:
                    </label>
                    <select required="">
                      <option value="">
                        Chọn Tỉnh/Thành phố
                      </option>
                      <option value="294">
                        Hồ Chí Minh
                      </option>
                      <option value="297">
                        Hà Nội
                      </option>
                      <option value="291">
                        Đà Nẵng
                      </option>
                      <option value="278">
                        An Giang
                      </option>
                      <option value="280">
                        Bà Rịa - Vũng Tàu
                      </option>
                      <option value="282">
                        Bắc Giang
                      </option>
                      <option value="281">
                        Bắc Kạn
                      </option>
                      <option value="279">
                        Bạc Liêu
                      </option>
                      <option value="283">
                        Bắc Ninh
                      </option>
                      <option value="284">
                        Bến Tre
                      </option>
                      <option value="285">
                        Bình Dương
                      </option>
                      <option value="286">
                        Bình Phước
                      </option>
                      <option value="287">
                        Bình Thuận
                      </option>
                      <option value="316">
                        Bình Định
                      </option>
                      <option value="289">
                        Cà Mau
                      </option>
                      <option value="290">
                        Cần Thơ
                      </option>
                      <option value="288">
                        Cao Bằng
                      </option>
                      <option value="293">
                        Gia Lai
                      </option>
                      <option value="295">
                        Hà Giang
                      </option>
                      <option value="296">
                        Hà Nam
                      </option>
                      <option value="299">
                        Hà Tĩnh
                      </option>
                      <option value="300">
                        Hải Dương
                      </option>
                      <option value="301">
                        Hải Phòng
                      </option>
                      <option value="319">
                        Hậu Giang
                      </option>
                      <option value="302">
                        Hoà Bình
                      </option>
                      <option value="320">
                        Hưng Yên
                      </option>
                      <option value="321">
                        Khánh Hòa
                      </option>
                      <option value="322">
                        Kiên Giang
                      </option>
                      <option value="323">
                        Kon Tum
                      </option>
                      <option value="304">
                        Lai Châu
                      </option>
                      <option value="306">
                        Lâm Đồng
                      </option>
                      <option value="305">
                        Lạng Sơn
                      </option>
                      <option value="324">
                        Lào Cai
                      </option>
                      <option value="325">
                        Long An
                      </option>
                      <option value="326">
                        Nam Định
                      </option>
                      <option value="327">
                        Nghệ An
                      </option>
                      <option value="307">
                        Ninh Bình
                      </option>
                      <option value="328">
                        Ninh Thuận
                      </option>
                      <option value="329">
                        Phú Thọ
                      </option>
                      <option value="308">
                        Phú Yên
                      </option>
                      <option value="309">
                        Quảng Bình
                      </option>
                      <option value="310">
                        Quảng Nam
                      </option>
                      <option value="311">
                        Quảng Ngãi
                      </option>
                      <option value="330">
                        Quảng Ninh
                      </option>
                      <option value="312">
                        Quảng Trị
                      </option>
                      <option value="313">
                        Sóc Trăng
                      </option>
                      <option value="331">
                        Sơn La
                      </option>
                      <option value="332">
                        Tây Ninh
                      </option>
                      <option value="333">
                        Thái Bình
                      </option>
                      <option value="334">
                        Thái Nguyên
                      </option>
                      <option value="335">
                        Thanh Hóa
                      </option>
                      <option value="303">
                        Thừa Thiên Huế
                      </option>
                      <option value="336">
                        Tiền Giang
                      </option>
                      <option value="314">
                        Trà Vinh
                      </option>
                      <option value="315">
                        Tuyên Quang
                      </option>
                      <option value="337">
                        Vĩnh Long
                      </option>
                      <option value="338">
                        Vĩnh Phúc
                      </option>
                      <option value="339">
                        Yên Bái
                      </option>
                      <option value="292">
                        Đắk Lắk
                      </option>
                      <option value="340">
                        Đắk Nông
                      </option>
                      <option value="341">
                        Điện Biên
                      </option>
                      <option value="317">
                        Đồng Nai
                      </option>
                      <option value="318">
                        Đồng Tháp
                      </option>
                    </select>
                  </div>
                  <div class="form-control">
                    <label for="district" class="input-label">
                      Quận huyện:
                    </label>
                    <select required="">
                      <option value="">
                        Chọn Quận/Huyện
                      </option>
                      <option value="202">
                        Huyện Khoái Châu
                      </option>
                      <option value="203">
                        Huyện Văn Giang
                      </option>
                      <option value="204">
                        Huyện Văn Lâm
                      </option>
                      <option value="205">
                        Huyện Phù Cừ
                      </option>
                      <option value="206">
                        Huyện Ân Thi
                      </option>
                      <option value="207">
                        Thị xã Mỹ Hào
                      </option>
                      <option value="208">
                        Huyện Yên Mỹ
                      </option>
                      <option value="209">
                        Huyện Tiên Lữ
                      </option>
                      <option value="210">
                        Huyện Kim Động
                      </option>
                      <option value="211">
                        Thành phố Hưng Yên
                      </option>
                    </select>
                  </div>
                  <div class="form-control">
                    <label for="ward" class="input-label">
                      Phường xã:
                    </label>
                    <select required="">
                      <option value="">
                        Chọn Phường/Xã
                      </option>
                      <option value="4907">
                        Thị trấn Văn Giang
                      </option>
                      <option value="4908">
                        Xã Cửu Cao
                      </option>
                      <option value="4909">
                        Xã Liên Nghĩa
                      </option>
                      <option value="4910">
                        Xã Long Hưng
                      </option>
                      <option value="4911">
                        Xã Mễ Sở
                      </option>
                      <option value="4912">
                        Xã Nghĩa Trụ
                      </option>
                      <option value="4913">
                        Xã Phụng Công
                      </option>
                      <option value="4914">
                        Xã Tân Tiến
                      </option>
                      <option value="4915">
                        Xã Thắng Lợi
                      </option>
                      <option value="4916">
                        Xã Vĩnh Khúc
                      </option>
                      <option value="4917">
                        Xã Xuân Quan
                      </option>
                    </select>
                  </div>
                  <div class="form-control ">
                    <label for="address" class="input-label">
                      Địa chỉ:
                    </label>
                    <div>
                      <textarea required="" name="street" rows="5" placeholder="Nhập địa chỉ">
                      </textarea>
                    </div>
                  </div>
                  <div class="form-control">
                    <label for="deliveryAddressType" class="input-label">
                      Loại địa chỉ:
                    </label>
                    <label class="Radio__StyledRadio-sc-sim90b-0 kpLnYz">
                      <input type="radio" name="deliveryAddressType" value="" checked="">
                      <span class="radio-fake">
                      </span>
                      <span class="label">
                        Nhà riêng / Chung cư
                      </span>
                    </label>
                    <label class="Radio__StyledRadio-sc-sim90b-0 kpLnYz">
                      <input type="radio" name="deliveryAddressType" value="company">
                      <span class="radio-fake">
                      </span>
                      <span class="label">
                        Cơ quan / Công ty
                      </span>
                    </label>
                  </div>
                  <div class="form-control">
                    <label class="input-label">
                      &nbsp;
                    </label>
                    <label class="Checkbox__StyledCheckbox-sc-75m08j-0 etNXAi">
                      <input type="checkbox">
                      <span class="checkbox-fake">
                      </span>
                      <span class="label">
                        Đặt làm địa chỉ mặc định
                      </span>
                    </label>
                  </div>
                  <div class="form-control">
                    <label class="input-label">
                      &nbsp;
                    </label>
                    <button type="submit" class="btn-submit">
                      Cập nhật
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
    </div>
</div>