<div style="background-color: rgb(1, 127, 255);">
    <div class="container p-0">
        <div class="row pt-2 pl-3 justify-content-between">
            <div class="col-md-5 row">
                <div class="col-md-3" style="font-size:13px">
                    <a href="" style="color: white">Điều khoản </a>
                </div>

                <div class="col-md-3 pl-1" style="font-size:13px">
                    <a href="" style="color: white">Chính sách </a>
                </div>
            </div>
            <div class="col-md-3 row"></div>
            <div class="col-md-4 row justify-content-end">
                <div class="col-md-4" style="font-size:13px">
                    <a href="" style="color: white">
                        <i class="far fa-bell"></i> Thông báo
                        <span class="badge badge-pill badge-warning position-absolute"
                            style="right: 0.7rem;top: -0.2rem;">4</span>
                    </a>
                </div>

                <div class="col-md-4" style="font-size:13px">
                    <a href="" style="color: white"><i class="far fa-question-circle"></i> Trợ giúp</a>
                </div>
            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-expand-sm navbar-dark col-12 pt-0">
                <a class="navbar-brand pt-0 col-1" href="#">
                    <img style="max-width:85%"
                        src="https://salt.tikicdn.com/ts/upload/ae/f5/15/2228f38cf84d1b8451bb49e2c4537081.png"
                        alt="logo">
                    <!-- <img style="max-width:28%" src="https://salt.tikicdn.com/ts/upload/23/97/dd/2d66c7c7cd54895f698aae24dce13b90.png" alt=""> -->
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse col-md-11 p-0" id="collapsibleNavId">
                    <ul class="navbar-nav align-items-center col-md-12">
                        <li class="nav-item dropdown mr-2 active">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bars"></i>

                                <small>Danh mục</small><br>
                                <span class="">Sản phẩm</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a *ngFor="let category of categoryRes.data" class="dropdown-item" href="#">
                                    <img class="mr-2" style="width: 25px;" src="{{category.image.imageUrl}}" alt="">
                                    <small>{{category.name}}</small>
                                </a>
                            </div>
                        </li>

                        <div class="input-group align-items-center">
                            <input type="text" class="form-control"
                                placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ..." id="demo"
                                name="email" style="border-radius: 0px; background-clip: unset; ">
                            <div class="input-group-append" style="height:38px">
                                <button type="button" class="btn btn-primary" style="background: rgb(13, 92, 182);">
                                    <i class="fas fa-search small"></i>
                                    <!-- <img src="https://salt.tikicdn.com/ts/upload/ed/5e/b8/8538366274240326978318348ea8af7c.png" style="width: 15%;" alt=""> -->
                                    <small>Tìm kiếm</small>
                                </button>
                            </div>
                        </div>

                        <li class="nav-item dropdown ml-3 mr-2 active" style="font-size:14px">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                                <!-- <small style="font-size:13px">Đăng nhập | Đăng ký</small><br>  -->
                                Tài khoản
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" (click)="openLoginModal()">
                                    <button type="button" class="btn btn-warning btn-sm btn-block" data-toggle="modal"
                                        data-target="#myModal">
                                        Đăng nhập
                                    </button>
                                </a>

                                <a class="dropdown-item" (click)="openRegisterModal()">
                                    <button type="button" class="btn btn-warning btn-sm btn-block" data-toggle="modal"
                                        data-target="#myModal">
                                        Tạo tài khoản
                                    </button>
                                </a>


                                <a class="dropdown-item" href="#">
                                    <button type="button" name="" id="" class="btn btn-primary btn-sm btn-block">
                                        <i class="fab fa-facebook-f mr-4"></i> <span>Đăng nhập bằng Facebook</span>
                                    </button>
                                </a>

                                <a class="dropdown-item" href="#">
                                    <button type="button" name="" id="" class="btn btn-danger btn-sm btn-block">
                                        <i class="fab fa-google-plus-g mr-3"></i> <span>Đăng nhập bằng Google</span>
                                    </button>
                                </a>

                                <a class="dropdown-item" href="#">
                                    <button type="button" name="" id="" class="btn btn-info btn-sm btn-block">
                                        <i class="far fa-comment-dots mr-4"></i> <span>Đăng nhập bằng Zalo</span>
                                    </button>
                                </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown active" style="font-size:14px">
                            <a [routerLink]="['my-cart']" class="nav-link dropdown-toggle" id="dropdownId"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-shopping-cart mr-1">
                                    <span class="badge badge-pill badge-warning position-absolute"
                                        style="top: 0; left: 1.2rem">0</span>
                                </i> Giỏ hàng
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>