<div class="main bg-light pt-3 pb-3">
    <div class="container">
        <!-- Payment  -->
        <div class="row m-1 justify-content-between">
            <div class="col-md-9 pl-0 ">
                <div class="bg-white p-3">
                    <h6 class="text-dark">1. Chọn hình thức giao hàng</h6>
                    <h6 class="text-dark">2. Chọn hình thức thanh toán</h6>
                </div>
            </div>

            <div class="col-md-3 pr-0">
                <div class="bg-white p-3">
                    <div class="row justify-content-around">
                        <strong>Địa chỉ giao hàng</strong>
                        <button type="button" name="" id="" class="btn btn-success btn-sm">Thay đổi</button>
                    </div>
                    <hr>
                    <div class="">
                        <h6 class="">Lê Xuân Hoàng</h6>
                        <p>Địa chỉ: Hà Đông- Hà Nội</p>
                        <p>Điện thoại: 0986380270</p>
                    </div>
                </div>

                <div class="bg-white mt-3 p-2">
                    <div class="row  pl-3 pr-3 p-2 justify-content-between">
                        <span>Tạm tính</span>
                        <small class="text-secondary">55.000 <u>đ</u>
                        </small>
                    </div>

                    <div class="row  pl-3 pr-3 p-2 justify-content-between">
                        <span>Giảm giá</span>
                        <small class="text-secondary">0 <u>đ</u>
                        </small>
                    </div>

                    <div class="row  pl-3 pr-3 p-2 justify-content-between">
                        <span>Tổng cộng</span>
                        <div class="text-secondary">55.000 <u>đ</u>
                        </div>
                        <small class="col-md-12 p-0 text-right">(Đã bao gồm VAT nếu có)</small>
                    </div>
                </div>
                <button type="button" name="" id="" class="btn btn-danger btn-md btn-block mt-3 mb-1">Tiến hành thanh
                    toán</button>
                <small>(Vui lòng kiểm tra đơn hàng trước khi đặt mua)

                </small>
            </div>

        </div>
    </div>
</div>