<div class="main bg-light pt-3 pb-3">
    <div class="container">

        <div class="row m-1 justify-content-between">
            <div class="col-md-3 pl-0">
                <div class="bg-white mt-3 p-2">
                    <div class="row  pl-3 pr-3 p-2 justify-content-between">
                        <h6>Danh mục sản phẩm</h6>
                    </div>
                    <div *ngFor="let child of childCategoryRes.data"
                        [routerLink]="['/category/' + convertToSlug(child.name)+'-c'+child.id]"
                        routerLinkActive="active"
                        class="row pl-3 pr-3 p-2 justify-content-between"
                        style="cursor: pointer;">
                        {{child.name}}
                    </div>
                </div>
            </div>
            <!-- Mobile--category   -->
            <div class=" col-md-9 mt-4 bg-white">
                <h5>
                    <i class="fas fa-vest mr-2 text-danger"></i>
                    <span class="text-danger">{{categoryRes.data.name}}</span>
                </h5>
                <div class="product__detail row mt-5">
                    <div *ngFor="let product of productRes.data | paginate: { itemsPerPage: pageSize, currentPage: currentPage }"
                        class="product--item col-md-3 mb-4">
                        <a [routerLink]="['/product-detail', convertToSlug(product.name)+'-p'+product.id]">
                            <img style="width: 160px; height: 206px; border-radius: 2%;"
                                src="{{product.images[0].imageUrl}}" alt="">
                        </a>
    
                        <h6 [routerLink]="['product-detail', convertToSlug(product.name)+'-p'+product.id]"
                            class="mt-4 mb-1 text-darkgrey">{{product.name.length <= 40 ? product.name :
                                product.name.substring(0, 40) + " ..." }}</h6>
                                <div class="rate mb-3">
                                    <span class="fa fa-star checked text-warning small"></span>
                                    <span class="fa fa-star checked text-warning small"></span>
                                    <span class="fa fa-star checked text-warning small"></span>
                                    <span class="fa fa-star text-secondary small"></span>
                                    <span class="fa fa-star text-secondary small"></span>
                                </div>
                                <span
                                    class="badge badge-pill badge-danger pt-2 pb-2 pl-3 pr-3 mr-1">{{(product.price-product.discount.value).toLocaleString().replace(",",
                                    ".")}} <u>đ</u></span>
                                <span
                                    class="badge badge-pill badge-warning p-2 mr-1">-{{(100*product.discount.value/product.price)
                                    | number : '1.0-0'}}%</span>
                                <s class="small" style="color: #8a8a8a;">{{product.price.toLocaleString().replace(",",
                                    ".")}} <u>đ</u></s>
    
                    </div>
    
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <pagination-controls previousLabel="Trước" nextLabel="Sau" (pageChange)="currentPage = $event"
                        class="align-self-center"></pagination-controls>
                </div>
            </div>
        </div>

        <!-- Receive Mail   -->
        <div class="row p-3 mt-3 align-items-center">
            <div class="col-md-6 row">
                <div class="col-md-3">
                    <img class="w-100" src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/newsletter.png"
                        alt="">
                </div>

                <div class="info--mail col-md-9">
                    <h6>Đăng ký nhận bản tin Tiki</h6>
                    <p class="small">Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</p>
                </div>
            </div>

            <div class="input-group col-md-6">
                <input type="text" class="form-control" placeholder="Địa chỉ Email của bạn">

                <button class="btn btn-success" type="submit" style="height: 38px;
                    border-radius: 0;">Đăng ký</button>

            </div>
        </div>
    </div>
</div>