<div class="main bg-light pt-3 pb-3">
    <div class="container">
        <!-- Product--detail  -->
        <h6 class="mb-3">CHI TIẾT SẢN PHẨM</h6>
        <div class="bg-white pt-4 pb-4 p-3 m-1 text-center row">
            <div class="col-md-4 p-0">

                <div id="carousel-example-1z" class="carousel slide carousel-fade col-md-8 pr-0" data-ride="carousel">
                    
                    <!--Slides-->
                    <div class="carousel-inner" style="width: 280px;" role="listbox">
                        <div *ngFor="let image of listProductDetailRes.data[0].productDto.images; let i=index"
                            class="carousel-item" [class]="i == 0 ? 'active': ''">
                            <img class="w-100" style="height: 380px;" [src]="image.imageUrl" alt="">
                        </div>
                    </div>

                    <!-- <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
                        <ng-template ngbSlide *ngFor="let image of listProductDetailRes.data[0].productDto.images">
                            <img class="w-100" style="height: 380px;" [src]="image.imageUrl" alt="">
                        </ng-template>
                    </ngb-carousel> -->

                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev"
                        style="left: 15px; background: #c7c7c7;border-bottom-right-radius: 5px; border-top-right-radius: 5px; width: 10%;top: 150px;height: 60px">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next"
                        style="right: -57px; background: #c7c7c7; border-bottom-right-radius: 5px; border-top-right-radius: 5px; width: 10%;top: 150px;height: 60px">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>

                <br>

            </div>

            <div class="col-md-7 pl-4 text-left">
                <h5>{{listProductDetailRes.data[0].productDto.name}}</h5>
                <div class="rate row m-1 mt-3 mb-2 align-items-center">
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                    <small class="ml-3">( Xem 46 đánh giá )</small>
                </div>
                <div class="price bg-light p-2">
                    <div class="row m-1 align-items-center">
                        <h4>{{(listProductDetailRes.data[0].price-listProductDetailRes.data[0].discount.value).toLocaleString().replace(",",
                            ".")}} <u>đ</u></h4>
                        <span class="badge badge-pill badge-danger ml-3 mr-3">- 2%</span>
                        <s>{{listProductDetailRes.data[0].price.toLocaleString().replace(",",
                            ".")}} <u>đ</u> </s>
                    </div>
                </div>

                <div class="text-danger">
                    <img class="w-25" src="http://techshop-ecommerce.surge.sh/static/media/policy-image.62c1167a.png"
                        alt="">
                </div>

                <br>
                <div class="option">
                    <div *ngIf="colors.length > 0">
                        <span>Chọn màu:
                            <div class="text-success" [textContent]="color.name"></div>
                        </span>

                        <div class="row m-2">
                            <button (click)="onChangeColor(item.id)" *ngFor="let item of colors"
                                class="mb-2 mobile--item col-md-2 small ml-2 mr-2 border border-info rounded text-center"
                                [style.border-width]=" color.id == item.id ? '4px !important' : ''">
                                {{item.name}}
                            </button>
                        </div>
                    </div>

                    <div *ngIf="sizes.length > 0">
                        <span>Chọn size:
                            <div class="text-success">{{size.name}}</div>
                        </span>

                        <div class="row m-2">
                            <button (click)="onChangeSize(item.id)" *ngFor="let item of sizes"
                                class="mb-2 mobile--item col-md-2 small ml-2 mr-2 border border-info rounded text-center"
                                [style.border-width]=" size.id == item.id ? '4px !important' : ''">
                                {{item.name}}
                            </button>
                        </div>
                    </div>

                    Số lượng:
                    <div class="input-group col-md-4 m-2">
                        <!-- button increment -->
                        <div class="input-group-prepend">
                            <button (click)="decrementValue()" class="btn btn-success btn-sm" type="submit"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                        <input type="text" class="form-control text-center" min="1" [(ngModel)]="quantity"
                            style="height:31px">

                        <!-- button decrement -->
                        <div class="input-group-append">
                            <button (click)="incrementValue()" class="btn btn-success btn-sm" type="submit"><i
                                    class="fas fa-plus"></i></button>
                        </div>
                    </div>

                    <button (click)="authService.isLoggedIn() ? addToCart() : openLoginModal()" type="button" name="" id="" class="btn btn-success btn-md btn-block mt-5">Thêm vào giỏ
                        hàng</button>
                </div>
            </div>

        </div>



        <!-- Mô tả sản phẩm -->
        <h6 class="mt-4 mb-2 m-1">MÔ TẢ SẢN PHẨM</h6>
        <div class="row bg-white pt-4 pb-4 p-3 m-1 description"
            [innerHTML]="listProductDetailRes.data[0].productDto.description">
        </div>

        <!-- Similar product  -->
        <!-- <h6 class="mt-4 mb-2 m-1">SẢN PHẨM TƯƠNG TỰ</h6>
        <div class="row bg-white pt-4 pb-4 p-3 m-1">
            <div class="product--item col-md-3">
                <img src="https://phoneaqua.com/products/apple-iphone-12.jpg" alt="">

                <h6 class="mt-4 mb-1 text-darkgrey">Apple Iphone 12 price </h6>
                <div class="rate mb-3">
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                </div>
                <span class="badge badge-pill badge-danger pt-2 pb-2 pl-3 pr-3">21.499.000 <u>đ</u></span>
                <span class="badge badge-pill badge-warning p-2">-20%</span>
                <div class="small" style="color: #8a8a8a;">24.999.999 <u>đ</u></div>

                <div class="config bg-light rounded mt-3 ml-1 mr-1 mb-3 pt-2 pb-2 pl-2 pr-2 row">
                    <div class="chip border border-default mb-1 mr-1 rounded col-md-8">
                        <small> Snapdragon 720G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>6.7"</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>8G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>256G</small>
                    </div>
                </div>
            </div>

            <div class="product--item col-md-3">
                <img src="https://phoneaqua.com/products/apple-iphone-12.jpg" alt="">

                <h6 class="mt-4 mb-1 text-darkgrey">Apple Iphone 12 price </h6>
                <div class="rate mb-3">
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                </div>
                <span class="badge badge-pill badge-danger pt-2 pb-2 pl-3 pr-3">21.499.000 <u>đ</u></span>
                <span class="badge badge-pill badge-warning p-2">-20%</span>
                <div class="small" style="color: #8a8a8a;">24.999.999 <u>đ</u></div>

                <div class="config bg-light rounded mt-3 ml-1 mr-1 mb-3 pt-2 pb-2 pl-2 pr-2 row">
                    <div class="chip border border-default mb-1 mr-1 rounded col-md-8">
                        <small> Snapdragon 720G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>6.7"</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>8G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>256G</small>
                    </div>
                </div>
            </div>

            <div class="product--item col-md-3">
                <img src="https://phoneaqua.com/products/apple-iphone-12.jpg" alt="">

                <h6 class="mt-4 mb-1 text-darkgrey">Apple Iphone 12 price </h6>
                <div class="rate mb-3">
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                </div>
                <span class="badge badge-pill badge-danger pt-2 pb-2 pl-3 pr-3">21.499.000 <u>đ</u></span>
                <span class="badge badge-pill badge-warning p-2">-20%</span>
                <div class="small" style="color: #8a8a8a;">24.999.999 <u>đ</u></div>

                <div class="config bg-light rounded mt-3 ml-1 mr-1 mb-3 pt-2 pb-2 pl-2 pr-2 row">
                    <div class="chip border border-default mb-1 mr-1 rounded col-md-8">
                        <small> Snapdragon 720G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>6.7"</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>8G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>256G</small>
                    </div>
                </div>
            </div>

            <div class="product--item col-md-3">
                <img src="https://phoneaqua.com/products/apple-iphone-12.jpg" alt="">

                <h6 class="mt-4 mb-1 text-darkgrey">Apple Iphone 12 price </h6>
                <div class="rate mb-3">
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star checked text-warning small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                    <span class="fa fa-star text-secondary small"></span>
                </div>
                <span class="badge badge-pill badge-danger pt-2 pb-2 pl-3 pr-3">21.499.000 <u>đ</u></span>
                <span class="badge badge-pill badge-warning p-2">-20%</span>
                <div class="small" style="color: #8a8a8a;">24.999.999 <u>đ</u></div>

                <div class="config bg-light rounded mt-3 ml-1 mr-1 mb-3 pt-2 pb-2 pl-2 pr-2 row">
                    <div class="chip border border-default mb-1 mr-1 rounded col-md-8">
                        <small> Snapdragon 720G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>6.7"</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>8G</small>
                    </div>
                    <div class="chip border border-default rounded col-md-3">
                        <small>256G</small>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Receive Mail   -->
        <div class="row p-3 mt-3 align-items-center">
            <div class="col-md-6 row">
                <div class="col-md-3">
                    <img class="w-100" src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/newsletter.png"
                        alt="">
                </div>

                <div class="info--mail col-md-9">
                    <h6>Đăng ký nhận bản tin Tiki</h6>
                    <p class="small">Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</p>
                </div>
            </div>

            <div class="input-group col-md-6">
                <input type="text" class="form-control" placeholder="Địa chỉ Email của bạn">

                <button class="btn btn-success" type="submit" style="height: 38px;
                border-radius: 0;">Đăng ký</button>

            </div>
        </div>
    </div>
</div>